/*
 *
 * MMM-Scratch
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
 .scratch {
    overflow-y: hidden;
    height: 790px;
    overflow-x: hidden;
    width: 1000px;
    position: absolute;
    left: 10%;
    top: 10%;
    /* top: 50%; */
 }
 
.scratch > iframe {
    margin-top: -56px;
    margin-left: -11px;
    /* overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:absolute;
    bottom: -5px;
    align-content: center;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -56px;
    background: black;
    padding-bottom: -20px; */
}

