/*
 *
 * MMM-Scratch
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.scratch > iframe {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:absolute;
    align-content: center;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display: block;
    /* margin-left: -2px;
    margin-right: auto; */
    margin-top: -50px;
}
